.retheme-root {
  --theme-font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --theme-font-family-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --theme-font-weight: 700;
  --theme-content-spacing: 20px;


  --theme-border-radius: 8px;
  --theme-border-radius-lg: 8px;

  --theme-color-base: #fff;
  --theme-color-highlight: #f49a40;
  --theme-color-overlay: rgba(0, 0, 0, 0.97);

  --theme-shadow-sm: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  --theme-shadow-md: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.2rem rgba(0, 0, 0, 0.1);
  --theme-shadow-lg: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05),
    0 1.5rem 2.2rem rgba(0, 0, 0, 0.1);
  --theme-shadow-sticky: -2px 3px 90px -20px rgba(0, 0, 0, 0.25);

  --theme-btn-primary-color: #fff;
  --theme-btn-primary-color-active: #fff;
  --theme-btn-primary-background: var(--theme-color-1);
  --theme-btn-primary-background-active: var(--theme-color-2);

  --theme-btn-action-color: #fff;
  --theme-btn-action-color-active: #fff;
  --theme-btn-action-background: #2f80ed;
  --theme-btn-action-background-active: #3e8df4;

  --theme-container-compact: 830px;
  --theme-sidebar-width: 370px;
}

.retheme-default-scheme {
  --theme-color-1: #2f80ed; // site color, brand, links
  --theme-color-2: #3e8df4; // site:active, brand:active, links:active
  --theme-color-3: #262626; // heading color
  --theme-color-4: #474747; // body color
  --theme-color-5: #777777; // meta color
  --theme-color-6: #ffffff; // site background
  --theme-color-7: #f0f2f5; // content background
  --theme-color-8: #dbdee2; // border color

  --theme-color-brand: var(--theme-color-1);
  --theme-color-brand-secondary: var(--theme-color-2);

  --theme-background-primary: var(--theme-color-6);
  --theme-background-secondary: var(--theme-color-7);


  --theme-font-color-primary: var(--theme-color-3);
  --theme-font-color-secondary: var(--theme-color-4);
  --theme-font-color-tertiary: var(--theme-color-5);

  --theme-link: #2f80ed;
  --theme-link-active: #3e8df4;

  --theme-border-color: var(--theme-color-8);

}

.retheme-dark-scheme {
  --theme-color-1: #2f80ed; // site color, brand, links
  --theme-color-2: #3e8df4; // site:active, brand:active, links:active
  --theme-color-3: #ffffff; // heading color
  --theme-color-4: #cacaca; // body color
  --theme-color-5: #8b8b8b; // meta color
  --theme-color-6: #1a1a1a; // site background
  --theme-color-7: #202020; // content background
  --theme-color-8: #303030; // border color


  --theme-color-brand: var(--theme-color-1);
  --theme-color-brand-secondary: var(--theme-color-2);

  --theme-background-primary: var(--theme-color-6);
  --theme-background-secondary: var(--theme-color-7);

  --theme-font-color-primary: var(--theme-color-3);
  --theme-font-color-secondary: var(--theme-color-4);
  --theme-font-color-tertiary: var(--theme-color-5);

  --theme-link: #2f80ed;
  --theme-link-active: #3e8df4;

  --theme-border-color: var(--theme-color-8);
}

$gray-1: #f8f9fa;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #6c757d;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;

$color-red: #ff6c5f;
$color-ping: #e83e8c;
$color-orange: #fd704f;
$color-yellow: #ffc168;
$color-brown: #4b402f;
$color-cyan: #17a2b8;
$color-teal: #20c997;
$color-green: #4ed199;
$color-purple: #6f42c1;
$color-indigo: #6610f2;
$color-blue: #4b23f7;

$color-info: #4a90e2;
$color-info-lighter: lighten($color-info, 35);
$color-success: #20c997;
$color-success-lighter: lighten($color-success, 45);
$color-warning: #ff9900;
$color-warning-lighter: lighten($color-warning, 45);
$color-danger: #ff6c5f;
$color-danger-lighter: lighten($color-danger, 25);


/*=================================================
*  GRID
=================================================== */
$grid-spacing: 30px;
$grid-side-spacing: 15px;
$grid-columns: 12;

/*=================================================
*  BREAKPOINTS
=================================================== */
$breakpoints: (
  xs: 320px,
  sm: 576px, // Small devices (landscape phones, 576px and up)
  md: 768px, // Medium devices (tablets, 768px and up)
  lg: 992px, // Large devices (desktops, 992px and up)
  xl: 1200px, // X-Large devices (large desktops, 1200px and up)
);

/*=================================================
*  CONTAINERS
=================================================== */
$containers: (
  xs:100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

/*=================================================
*  FONT
=================================================== */
$font-size: 14px;
$font-weight: var(--theme-font-weight);

/* Font Size */
$headings: (
  h1: 34px,
  h2: 28px,
  h3: 21px,
  h4: 18px,
  h5: 16px,
  h6: 16px,
);

$headings-sm: (
  h1: 28px,
  h2: 24px,
  h3: 18px,
  h4: 16px,
  h5: 16px,
  h6: 16px,
);
/*=================================================
*  SOCIAL MEDIA
=================================================== */
$sosmed: (
  facebook: #3b5998,
  fbmessager: #0084ff,
  twitter: #1da1f2,
  instagram: #125688,
  google-plus: #dd4b39,
  linkedin: #007bb5,
  pinterest: #cb2027,
  youtube: #b00,
  rss: #faa33d,
  vimeo: #35c6ea,
  dribbble: #f7659c,
  skype: #13c1f3,
  wordpress: #2592c3,
  behance: #1879fd,
  dropbox: #17a3eb,
  soundcloud: #ff7e30,
  tumblr: #426d9b,
  github: #3f91cb,
  whatsapp: #25d366,
  telegram: #0088cc,
  bbm: #333333,
  phone: #cc3333,
  tiktok: #222222,
  email: #6c757d,
);

/*=================================================;
/* POST THUMBNAIL
/*================================================= */
$img-thumbail-size: 70px;
$header-responsive: 900px;
