/*=======================================
* MEDIA MAX
*=======================================*/

@mixin media($media-breakpoint, $media-breakpoints: $breakpoints) {
    @if map-has-key($media-breakpoints, $media-breakpoint) {
        $media-breakpoint: map-get($media-breakpoints, $media-breakpoint);
    }

    @if $media-breakpoint>1200 {
        @media screen and (min-width: #{$media-breakpoint}) {
            @content;
        }
    }

    @else {
        @media screen and (max-width: #{$media-breakpoint}) {
            @content;
        }
    }
}


/*=======================================
* MEDIA MIN
*=======================================*/

@mixin media-min($media-breakpoint, $media-breakpoints: $breakpoints) {
    @if map-has-key($media-breakpoints, $media-breakpoint) {
        $media-breakpoint: map-get($media-breakpoints, $media-breakpoint);
    }

    @media screen and (min-width: #{$media-breakpoint}) {
        @content;
    }
}


/*=======================================
* MEDIA ONLY
*=======================================*/

@mixin media-only($media, $media-breakpoints: $breakpoints) {

    @if $media=='xl' {
        $min-breakpoint: map-get($media-breakpoints, $media);

        @media screen and (min-width: #{$min-breakpoint}) {
            @content;
        }
    }

    @if $media=='md' {
        $min-breakpoint: map-get($media-breakpoints, $media);

        @media screen and (min-width: #{$min-breakpoint}) and (max-width: #{map-get($media-breakpoints, 'xl')}) {
            @content;
        }
    }

    @if $media=='sm' {
        $min-breakpoint: map-get($media-breakpoints, $media);

        @media screen and (max-width: #{$min-breakpoint}) {
            @content;
        }
    }
}


/*=======================================
* MEDIA RANGE
*=======================================*/

@mixin media-range($min-breakpoint, $max-breakpoint, $media-breakpoints: $breakpoints) {
    $min-breakpoint: map-get($media-breakpoints, $min-breakpoint);
    $max-breakpoint: map-get($media-breakpoints, $max-breakpoint);

    @media screen and (min-width: #{$min-breakpoint}) and (max-width: #{$max-breakpoint}-1) {
        @content;
    }
}