html {
  overflow-x: hidden;
}

/*=================================================;
/* CONTENT
/*================================================= */
.rt-entry-content {
  position: relative;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  blockquote,
  code,
  pre {
    margin-bottom: var(--theme-content-spacing);
  }
}

/*=================================================;
/* ALIGN
/*================================================= */
.is-gutenberg .alignwide {
  @include media-min(lg) {
    margin-left: -70px;
    margin-right: -70px;
    max-width: unset;
  }
}

.is-gutenberg .alignfull {
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
  width: auto;
  max-width: 1000%;
}

.alignleft {
  margin-right: var(--theme-content-spacing);
}

.alignright {
  margin-left: var(--theme-content-spacing);
}

.aligncenter {
  clear: both;
  display: table;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

/*=================================================;
/* IMAGE
/*================================================= */
.wp-block-image {
  margin-bottom: var(--theme-content-spacing);
  figure {
    margin: 0;
  }
  figcaption {
    color: var(--theme-font-color-tertiary);
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

/*=================================================;
/* TABLE
/*================================================= */
.wp-block-table {
  margin-bottom: var(--theme-content-spacing);
  table {
    td,
    th {
      border: 1px solid var(--theme-border-color);
      padding: 8px;
    }
    th {
      font-weight: bold;
      color: var(--theme-font-color-primary);
    }
  }

  figcaption {
    font-size: 12px;
    color: var(--theme-font-color-tertiary);
  }
}

/*=================================================;
/* QUOTE
/*================================================= */
.wp-block-quote {
  margin-bottom: var(--theme-content-spacing);
  position: relative;
  border: none;
  border-left: 3px solid var(--theme-color-brand);
  padding: em(20px) em(15px);
  padding-left: em(50px);
  .has-very-dark-gray-color {
    background-color: transparent;
    border: none;
  }
  p {
    margin-bottom: 0;
  }
  &::before {
    content: "";
    background-color: var(--theme-border-color);
    left: 5px;
    height: 3em;
    width: 3em;
    display: block;
    position: absolute;
    color: var(--theme-border-color);
    mask: url(../images/quote.svg) no-repeat 100% 100%;
    mask-size: cover;
  }

  @include media(sm) {
    padding-top: 60px;
    padding-left: 15px;
    &::before {
      top: 10px;
    }
  }
}

/*=================================================;
/* PULLQUOTE
/*================================================= */
.wp-block-pullquote {
  border-color: var(--theme-border-color);
  margin-bottom: var(--theme-content-spacing);
  blockquote {
    background: transparent;
    border: none;
  }
}

/*=================================================;
/* CODE
/*================================================= */
.wp-block-code {
  border: none;
  padding: 0;
  margin-bottom: var(--theme-content-spacing);
}

/*=================================================;
/* BUTTON
/*================================================= */
.wp-block-buttons {
  margin-bottom: var(--theme-content-spacing);
}

/*=================================================;
/* EMBED
/*================================================= */
.wp-block-embed.is-full {
  .wp-block-embed__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*=================================================;
/* SEPARATOR
/*================================================= */
.wp-block-separator {
  border-color: var(--theme-border-color);
}

/*=================================================;
/* STYLE
/*================================================= */
.has-white-color {
  --theme-font-color-primary: #e8e8e9;
  --theme-font-color-secondary: rgba(255, 255, 255, 0.4);
  --theme-font-color-tertiary: rgba(255, 255, 255, 0.6);
}
.is-style-rounded {
  border-radius: var(--theme-border-radius-lg);
}
