.rt-img {
  position: relative;
  overflow: hidden;

  img {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    max-width: 100%;
  }
}

.rt-img--full {
  img {
    width: 100%;
  }
}
.rt-img--bordered {
  overflow: hidden;
  border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius);
}

.rt-img--fit {
  img {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }
}
embed,
iframe,
object,
video,
figure,
img {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

figure {
  margin: 0;
}

.rt-iframe {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  iframe,
  object,
  embed {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
