/*=================================================
*  TYPO
=================================================== */
html {
  font-size: $font-size;
}
body {
  font-family: var(--theme-font-family-secondary);
  color: var(--theme-font-color-secondary);
  font-size: 1rem;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: -webkit-optimize-contrast;
}

head,
title {
  display: none;
}

b,
strong {
  font-weight: var(--theme-font-weight);
}
/*=================================================
*  HEADING
=================================================== */
@each $key, $font-size in $headings {
  #{$key} {
    font-size: rem($font-size);
  }
}
@include media(sm) {
  @each $key, $font-size in $headings-sm {
    #{$key} {
      font-size: rem($font-size);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-font-color-primary);
  font-family: var(--theme-font-family-primary);
  line-height: 1.3;
  padding: 0;
  margin-top: 0;
  margin-bottom: var(--theme-content-spacing);
  font-weight: var(--theme-font-weight);
}

/*=================================================;
/* PARAGRAF
/*================================================= */
p {
  margin-top: 0;
  margin-bottom:  var(--theme-content-spacing);
}

/*=================================================
*  LINK
=================================================== */
a {
  transition: 0.3s;
  color: var(--theme-link);
  text-decoration: none;
  cursor: pointer;

  &:active,
  &:hover {
    color: var(--theme-link-active);
    text-decoration: none;
  }

  &.disable {
    cursor: default;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

/*=================================================;
/* SMALL
/*================================================= */
small {
  font-size: rem(0.8);
}

/*=================================================
*  BLOCKQUOTE
=================================================== */
blockquote {
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  margin: 15px 0;
  padding: 15px;
  background-color: var(--theme-background-secondary);
  border: 1px solid var(--theme-border-color);
  border-left: 3px solid var(--theme-color-brand);
  border-top-right-radius: var(--theme-border-radius);
  border-bottom-right-radius: var(--theme-border-radius);
  font-style: italic;

  cite {
    display: block;
    font-size: 14px;
    color: var(--theme-font-color-primary);
    font-weight: var(--theme-font-weight);
  }

  @include media(sm) {
    font-size: 16px;
  }
}

/*=======================================
* Code
*=======================================*/

code {
  display: block;
  background-color: var(--theme-background-secondary);
  border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius);
  padding: 15px 20px;
  margin-top: 8px;
  margin-bottom: 15px;
}

pre {
  text-align: left;
  overflow: auto;
  border: 1px solid var(--theme-border-color);
  padding: 15px;
}

/*=================================================;
/* LIST
/*================================================= */
ul,
ol {
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 15px;
}

/*=================================================;
/* LINK
/*================================================= */
.is-link-active,
.is-link-active a {
  color: var(--theme-link-active) !important;
}
