/*=================================================
*  CONTAINER
=================================================== */
@each $container_key, $container in $containers {
  @include media-min($container_key) {
    .page-container {
      max-width: $container;
    }
  }
}

.page-container {
  padding-left: $grid-side-spacing;
  padding-right: $grid-side-spacing;
  margin-left: auto;
  margin-right: auto;
}

.page-container-compact{
  max-width: var(--theme-container-compact);
  padding-left: $grid-side-spacing;
  padding-right: $grid-side-spacing;
  margin-left: auto;
  margin-right: auto;
}

.page-row {
  margin-left: -$grid-side-spacing;
  margin-right: -$grid-side-spacing;
}

