.page-footer {
  --theme-background-primary: var(--theme-background-secondary);

  color: var(--theme-font-color-secondary);
  background-color: var(--theme-background-primary);
  &__widget {
    border-bottom: 1px solid var(--theme-border-color);
    padding-top: 40px;
    padding-bottom: 30px;
  }
  &__bottom {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/*=================================================;
/* FOOTER - STYLE
/*================================================= */
.page-footer--style-7 {
  text-align: center;
  .rt-widget{
    margin-bottom: 20px;
  }
  .widget_media_image img {
    margin: 0 auto;
  }
  .textwidget{
    @include media-min(md){
      width: 540px;
      margin: 0 auto;
    }
  }
  .rt-socmed {
    justify-content: center;
  }

  // widget menu horizontal
  .widget_nav_menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: disc;
    font-size: 16px;
    line-height: 1;
    @include media(sm){
      font-size: 14px;
    }
    li {
      display: inline-block;
      margin-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 15px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: -7px;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--theme-font-color-tertiary);
        transition: all 0.3s ease;
      }
      &:last-child:after{
        display: none;
      }
    }
  }
  
}
.page-footer--custom-1,
.page-footer--custom-2 {
  .page-container {
    display: flex;
    justify-content: space-between;
    @include media(md) {
      display: block;
    }
  }
  .rt-site-copyright {
    @include media(md) {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  .page-footer__widget {
    padding: 30px 15px;
  }
  .rt-menu {
    margin-left: -8px;
    margin-right: -8px;
  }
  .rt-menu .rt-menu__item a {
    padding-left: 8px;
    padding-right: 8px;
  }
  .rt-socmed {
    margin-bottom: -10px;
  }
}
