@keyframes header-down {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

/*=================================================;
/* DESKTOP HEADER
/*================================================= */
.page-header {
  --theme-header-height: 80px;
  --theme-link: var(--theme-font-color-primary);
  z-index: 99;
  position: relative;
  .page-container {
    height: inherit;
  }
  &__top {
    height: 38px;
    background-color: var(--theme-background-secondary);
    border-bottom: 1px solid var(--theme-border-color);
  }
  &__middle {
    height: 90px;
    background-color: var(--theme-background-primary);
  }
  &__main {
    height: var(--theme-header-height);
    background-color: var(--theme-background-primary);
    border-bottom: 1px solid var(--theme-border-color);
  }
  &__sticky {
    display: none;
    height: var(--theme-header-height);
    background-color: var(--theme-background-primary);
    border-bottom: 1px solid var(--theme-border-color);
  }
  .sub-menu{
    text-transform: none!important;
  }
}

/*=================================================;
/* HEADER - TOP
/*================================================= */
.page-header__top {
  --theme-background-primary: #222222;
  --theme-font-color-primary: rgba(255, 255, 255, 0.87);
  --theme-link: rgba(255, 255, 255, 0.87);
  --theme-link-active: #fff;
  height: 45px;
  .rt-menu .rt-menu__item a {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
  }
}

/*=================================================;
/* STICKY DESKTOP HEADER 
/*================================================= */
.page-header.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: header-down 0.5s;
  box-shadow: -2px 3px 90px -20px rgba(0, 0, 0, 0.25);
  .page-header__top,
  .page-header__middle,
  .page-header__main {
    display: none;
  }
  .page-header__sticky {
    display: block;
  }
}

.admin-bar .page-header.is-sticky {
  @include media-min(lg) {
    top: 32px;
  }
}

/*=================================================
* COLUMNS
/*================================================= */
.page-header-columns {
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  align-items: center;
  justify-content: space-between;
  .page-header-column {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    align-items: center;
  }
  [data-display="grow"] {
    flex: 1;
  }

  [data-alignment="left"] {
    justify-content: flex-start;
  }

  [data-alignment="center"] {
    justify-content: center;
  }

  [data-alignment="right"] {
    justify-content: flex-end;
  }
}

/*=================================================;
/* MOBILE HEADER
/*================================================= */
.page-header-mobile {
  --theme-link: var(--theme-font-color-primary);
  font-size: 14px;
  z-index: 99;
  position: relative;
  display: none;
  .page-container {
    height: inherit;
  }
  &__main {
    height: 60px;
    background-color: var(--theme-background-primary);
    border-bottom: 1px solid var(--theme-border-color);
  }
  &__offcanvas {
    display: none;
    z-index: -1;
    background-color: var(--theme-background-primary);
    box-shadow: var(--theme-shadow-lg);
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    overflow-y: auto;
    max-height: calc(100vh - 57px);
  }
  &.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: header-down 0.5s;
  }
}


/*=================================================;
/* RESPONSIVE HEADER
/*================================================= */
@media only screen and (max-width: $header-responsive) {
  .page-header {
    display: none;
  }

  .page-header-mobile {
    display: block;
  }
}

/*=================================================;
/* ELEMENTS - ICONS
/*================================================= */
.rt-header-icon {
  color: var(--theme-font-color-secondary);
  padding: 0 8px;
  display: inline-flex;
}

/*=================================================;
/* ELEMENT - LOGO
/*================================================= */
.page-header {
  .rt-logo__sticky {
    display: none;
  }
  &.is-sticky {
    .rt-logo {
      &__primary {
        display: none;
      }
      &__sticky {
        display: block;
      }
    }
  }
}
.rt-logo,
.rt-logo-mobile {
  max-width: 140px;
}

/*=================================================;
/* ELEMENT - HEADER
/*================================================= */
.rt-header-btn {
  margin: 0;
}

/*=================================================;
/* ELEMENT - SPACER
/*================================================= */
.rt-header-spacer {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

/*=================================================;
/* ELEMENT - SOCMED
/*================================================= */
.rt-header-socmed {
  .rt-socmed {
    &__item {
      margin-bottom: 0;
    }
    .rt-icon {
      bottom: -2px;
    }
  }
}

/*=================================================;
/* HEADER STYLE
/*================================================= */
.page-header--style-3 {
  .page-header {
    &__middle {
      height: auto;
      .page-header-columns{
        min-height: 110px;
      }
    }
    &__main{
      height: 70px;
      border-top: 1px solid var(--theme-border-color);
    }
  }
  .rt-header-banner{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.page-header--style-4,
.page-header--style-5 {
  .page-header {
    &__main{
      height: 70px;
      border-top: 1px solid var(--theme-border-color);
    }
  }
}