/*=================================================;
/* HOMEPAGE
/*================================================= */
.homepage-section {
  margin-bottom: 30px;
  @include media(sm) {
    margin-bottom: 20px;
  }
  &:first-of-type {
    border-top: 0 !important;
    margin-top: 60px;
    @include media(sm) {
      margin-top: 30px;
    }
  }
  &:last-of-type {
    border-bottom: 0 !important;
  }
}

/*=================================================;
/* TEMPLATE - COMPACT
/*================================================= */
.homepage-section--compact {
  @include media-min(lg) {
    .page-container {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--theme-container-compact);
    }
  }
}

/*=================================================;
/* TEMPLATE - LEFT SIDEBAR
/*================================================= */
.homepage-section--sidebar-left {
  @include media-min(lg) {
    .page-columns {
      flex-direction: row-reverse;
    }
    .page-aside {
      margin-right: 30px;
      margin-left: 0;
    }
  }
}
