.page-main {
  background: var(--theme-background-primary);
}
/*=================================================;
/* PAGE HEADER
/*================================================= */
.page-titlebar {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--theme-background-secondary);
  border-top: 1px solid var(--theme-border-color);
  border-bottom: 1px solid var(--theme-border-color);
  margin-top: -1px;
  text-align: center;
  &__title {
    margin-bottom: 0;
  }
  &__desc {
    margin-top: 20px;
  }
  .rt-breadcrumbs {
    margin-bottom: 10px;
    display: inline-block;
  }
}
/*=================================================;
/* WRAPPER
/*================================================= */
.page-wrapper {
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 100vh;
  @include media(sm) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/*=================================================;
/* COLUMNS
/*================================================= */
.page-columns {
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/*=================================================;
/* CONTENT
/*================================================= */
.page-content {
  min-width: 0;
  min-height: 570px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  margin-bottom: $grid-spacing;
}

/*=================================================;
/* ASIDE
/*================================================= */
.page-aside {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: $grid-spacing;
  @include media-min(lg) {
    &__inner {
      position: sticky;
      top: 0;
    }
    margin-left: 30px;
    flex: 0 0 var(--theme-sidebar-width, 285px);
    max-width: var(--theme-sidebar-width, 285px);
  }
}

/*=================================================;
/* TEMPLATE ASIDE
/*================================================= */
.template--sidebar-left {
  @include media-min(lg) {
    .page-columns {
      flex-direction: row-reverse;
    }
    .page-aside {
      margin-right: 30px;
      margin-left: 0;
    }
  }
}

/*=================================================;
/* TEMPLATE COMPACT
/*================================================= */
.template--compact {
  @include media-min(lg) {
    .page-titlebar,
    .page-wrapper {
      .page-container {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--theme-container-compact);
      }
    }
  }
}

/*=================================================;
/* PAGE BANNER
/*================================================= */
.page-banner {
  display: none;
  margin-bottom: 30px;
  img {
    display: block;
    margin: 0 auto;
  }
  @media only screen and (max-width: $header-responsive) {
    display: block;
  }
}

/*=================================================;
/* FULL WIDTH
/*================================================= */
.page-template-full-width {
  .page-wrapper {
    padding: 0;
  }
}
