.widget_media_gallery {
  .gallery {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -3px 0 -3px;
    &-item {
      margin: 0;
      padding-left: 3px;
      padding-right: 3px;
      margin-bottom: 6px;
    }
  }

  a {
    display: block;
  }

  img {
    height: auto;
  }
}