.widget_calendar {
    caption {
        margin-bottom: 15px;
    }

    table {
        width: 100%;
        position: relative;
        border-collapse: collapse;
        margin-bottom: 10px;
    }

    tbody {
        text-align: center;
    }

    #today{
        background-color: var(--theme-background-secondary);
        border-radius: var(--theme-border-radius);
    }
}