.widget_tag_cloud,
.widget_product_tag_cloud {
    .tag-cloud-link {
        font-size: 16px;
        display: inline-block;
        line-height: 1;
        margin-right: 10px;
        margin-bottom: 10px;
        text-transform: capitalize;
        padding: 10px 12px;
        color: var(--theme-font-color-primary);
        border: 1px solid var(--theme-border-color);
        border-radius: var(--theme-border-radius);

        &:hover, &:focus {
            color: var(--theme-color-base);
            border-color: var(--theme-color-brand);
            background-color: var(--theme-color-brand);
        }
    }
}