.widget_archive,
.widget_recent_entries,
.widget_recent_comments,
.widget_categories,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_rss,
.widget_list,
.widget_product_categories{
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    list-style: none;
    position: relative;
    border-bottom: 1px solid var(--theme-border-color);
    display: block;
    line-height: 1;
    padding-top: 8px;
    padding-bottom: 8px;

    &:last-child {
      border-bottom: none;
    }

    a {
      color: var(--theme-font-color-secondary);
      line-height: 1.5;

      &:hover {
        color: var(--theme-link-active);
      }
    }

    span {
      color: var(--theme-font-color-tertiary);
      margin-top: 5px;
      line-height: 1.5;
      font-size: 12px;
    }

  }

  .children,
  .sub-menu {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: -10px;

    li {
      border-bottom: none;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 10px;
      bottom: 10px;
      width: 1px;
      background-color: var(--theme-border-color);
    }
  }

  .rt-widget__header{
    margin: 0;
  }

  select{
    margin-top: 15px;
  }
}