.rt-widget {
  position: relative;
  margin-bottom: $grid-spacing;
  select {
    width: 100%;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  &:last-of-type{
    @include media-min(sm){
      margin-bottom: 0;
    }
  }
}

.rt-widget--aside{
  background-color: var(--theme-background-secondary);
  border-radius: var(--theme-border-radius-lg);
  border: 1px solid var(--theme-background-secondary);
  padding: 30px;

  @include media(sm){
    padding: 20px;
  }
}

.rt-widget--footer{
  .rt-widget{
    &__header{
      border: none;
    }
  }
  li{
    border: none;
  }
}