.widget_rss{
  .rsswidget{
    display: block;
    color: var(--theme-font-color-primary);
    font-weight: bold;
  }
  .rss-date{
    color: var(--theme-font-color-tertiary);
    font-size: 11px;
  }
  .rssSummary{
    margin-bottom: 10px;
  }
  cite{
    color: var(--theme-font-color-tertiary);
  }
  .rt-widget__title{
    display: flex;
    .rsswidget{
      margin-right: 5px;
    }
  }

}
