/*=================================================;
/* MENU DROPDOWN
/*================================================= */
.rt-widget-dropdown {
  &__nav {
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;

    i {
      transition: 0.3s;
      position: absolute;
      right: 15px;
      top: 15px;
    }

    &.is-active {
      i {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    display: none;
    position: relative;
    z-index: 4;
  }

  .menu {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding-bottom: 10px;
    }
  }
}

.rt-widget.is-active {
  .rt-widget-dropdown__nav {
    transform: rotate(180deg);
  }
}