.wp-customizer {
  --customizer-brand-primary: #2271b1;
  --customizer-border-color: #dddddd;
  --customizer-link: #00a0d2;
  --customizer-link-hover: #00a0d2;
  --customizer-background-primary: #f0f0f1;
  --customizer-background-secodary: #eeeeee;
  --customizer-color-hightlight: #23d160;
}
/*=================================================
*   CONTROL - TYPOGRAPHY
=================================================== */
#customize-control-typography_regular-font-family .responsive-switchers,
#customize-control-typography_regular_tablet-font-family .responsive-switchers,
#customize-control-typography_regular_mobile-font-family .responsive-switchers,
#customize-control-typography_regular-variant,
#customize-control-typography_regular_tablet-variant,
#customize-control-typography_regular_mobile-variant{
  display: none !important;
}

/*=================================================
*   CONTROL - GENERAL
=================================================== */
.customize-control {
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
}

/*=================================================
*   CONTROL - HEADER
=================================================== */
.control-header {
  margin: 15px -12px;
  padding: 5px 15px;
  color: #fff;
  background: var(--customizer-brand-primary);
  font-size: 15px !important;
  font-weight: 500 !important;
  position: relative;
  z-index: 2;
  display: block !important;
  float: unset !important;
  width: auto !important;
  .customize-control-title {
    margin-bottom: 0 !important;
  }
}

/*=================================================;
/* CONTROL - DIVINDER
/*================================================= */
.control-divinder {
  padding: 0 !important;
  display: block !important;
  hr {
    border-top: 0 !important;
    border-bottom: 1px solid var(--customizer-border-color) !important;
    margin-bottom: 10px;
  }
}

/*=================================================
*   CONTROL - SELECT 2
=================================================== */
.select2-container--default {
  .select2-selection--multiple {
    .select2-selection__choice {
      background: var(--customizer-background-secodary) !important;
      border: 1px solid var(--customizer-border-color) !important;
      cursor: pointer !important;
    }
  }
}

/*=================================================;
/* CONTROL - SLIDER
/*================================================= */
.customize-control-kirki-slider {
  .kirki-control-reset {
    right: 23px !important;
    bottom: 0 !important;
  }
}

/*=================================================
*   CONTROL - RESPONSIVE
=================================================== */
.responsive-switchers {
  display: none;
  position: absolute;
  right: -10px;
  top: 7px;

  .dashicons {
    background-color: #b4b9be;
    margin-right: 7px;
    margin-bottom: 0;
    font-size: 12px;
    color: #fff;
    height: 20px;
    width: 20px;
    line-height: 21px;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
  }
}

.control-responsive {
  .responsive-switchers {
    display: flex;
  }
}

// Hidden responsive button from group control
.control-responsive.kirki-group-item {
  .responsive-switchers {
    display: none;
  }
}
.preview-desktop {
  .responsive-switchers {
    .dashicons-desktop {
      background-color: #191e23;
    }
  }

  .control-device-tablet {
    visibility: hidden !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

  .control-device-mobile {
    visibility: hidden !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }
}

.preview-tablet {
  .responsive-switchers {
    .dashicons-tablet {
      background-color: #191e23;
    }
  }

  .control-device-desktop {
    visibility: hidden !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

  .control-device-mobile {
    visibility: hidden !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }
}

.preview-mobile {
  .wp-full-overlay-main {
    width: 375px;
    height: 667px;
  }

  .responsive-switchers {
    .dashicons-smartphone {
      background-color: #191e23;
    }
  }

  .control-device-desktop {
    visibility: hidden !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

  .control-device-tablet {
    visibility: hidden !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }
}
