$border-color: #ededed;
$border-radius: 0;
$gray-light: #fafafa;
$shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
$color-base: #ffffff;
$color-brand: #0073aa;

@import "_bulma";

/*=================================================;
/* LAYOUT
/*================================================= */
.bulma .container {
  margin: 0 !important;
}

.bulma {
  margin: 10px 20px 0 2px;
  font-size: 14px;
  *,
  ::before,
  ::after,
  legend,
  input,
  textarea {
    box-sizing: border-box;
  }
}

/*=================================================;
/* PANEL
/*================================================= */
.theme-panel {
  margin-right: 1px;
  padding-right: 15px;
  margin-top: 15px;
}

.panel.is-light{
  background-color: #ffffff;
  .panel-heading{
    background-color: #ffffff !important;
    border-bottom: 1px solid $border-color;
  }
  .panel-block{
    padding: 0.75em 1em;
  }
}
/*=================================================;
/* HEADER
/*================================================= */
.page-header {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-grow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.page-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*=================================================;
/* MENU - PRO
/*================================================= */
.rta-menu-pro {
  color: greenyellow;
}

/*=================================================;
/* THEME MENU
/*================================================= */
.rta-theme-menu {
  background: $color-brand;
  margin-left: -22px;
  margin-right: -22px;
  margin-bottom: 30px;
  margin-top: -15px !important;

  a {
    color: $color-base !important;
    font-size: 14px;
    padding: 15px !important;
  }

  li {
    &:hover,
    &:focus,
    &:active,
    &.is-active {
      background-color: lighten($color-brand, 10) !important;
      border: none !important;

      a {
        border: none !important;
        color: $color-base !important;
      }
    }
  }
}

/*=================================================;
/* WORDPRESS - NOTICE
/*================================================= */
#update-nag,
.update-nag {
  display: block;
  margin-left: 0 !important;
}

.notice {
  display: none;
}

#wpbody-content {
  .notice {
    padding: 10px;
    display: block;
    margin-left: 0 !important;
  }
}

/*=================================================;
/* BULMA - MODAL
/*================================================= */
.bulma {
  .modal {
    z-index: 999999 !important;
  }
}

/*=================================================;
/* CARD
/*================================================= */
.rta-admin {
  margin-right: 15px;
  * {
    box-sizing: border-box;
  }
}

/*=================================================;
/* BLOCK EDITOR PREVIEW
/*================================================= */
.rt-block-editor-preview {
  color: #444444;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #adb2ad;
  background-color: #f4f4f4;
  padding: 15px;
  cursor: pointer;
}
