.rt-breadcrumbs {
    color: var(--theme-font-color-tertiary)y;
    font-size: 12px;

    a {
        color: var(--theme-font-color-tertiary)y;
        
        &:hover,
        &:focus {
            color: var(--theme-link-active);
        }
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;

        li {
            list-style: none;
            margin-right: 7px;
            &:after{
                content: '»';
                margin-left: 8px;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
        }
    }


}