.rt-btn {
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--theme-btn-primary-background);
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  backface-visibility: hidden;
  letter-spacing: normal;
  position: relative;
  white-space: nowrap;
  margin-right: 10px;
  margin-bottom: 10px;
  user-select: none;
  color: var(--theme-btn-primary-color);
  padding: 12px 28px;
  border-radius: var(--theme-border-radius);
  border-radius: 5px;
  font-size: 1rem;
  &:hover,
  &:focus {
    color: var(--theme-btn-primary-color-active);
    background-color: var(--theme-btn-primary-background-active);
    box-shadow: 0px 2px 5px rgba(92, 81, 224, 0.1);
  }
  &.is-loading {
    padding-right: 45px;
    &::after {
      height: 16px;
      width:16px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      content: '';
      background: url(../images/spiner-light.svg) center center;
      background-size: auto;
      background-size: cover;
      z-index: 99;
      opacity: .5;
    }
  }
}

.rt-btn--full{
  display: block;
  margin-right: 0;
  width: 100%;
}