.rt-category-img {
  position: relative;
  border-radius: var(--theme-border-radius);
  overflow: hidden;
  &__thumbnail {
    img {
      margin-bottom: 0;
      position: relative;
      width: 100%;
      display: block;
      overflow: hidden;
      height: 100px;
      object-fit: cover;
      transition: 0.5s;
    }
  }
  &__body {
    --theme-font-color-primary: #fff;
    --theme-link: #fff;
    --theme-link-active: #fff;
    --theme-font-color-secondary: #fff;
    --theme-font-color-tertiary: #fff;
    z-index: 3;
    padding: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.3s;
  }
  &__title {
    font-size: 16px;
    margin-bottom: 0;
  }
  &__count {
    font-size: 12px;
    display: block;
    color: var(--theme-font-color-tertiary);
  }

  &__overlay {
    background: linear-gradient(to bottom, rgba(50,50,50,0) 0%, rgba(16,15,15,0.91) 89%, rgba(16,15,15,0.93) 93%);
    opacity: 0.93;
    z-index: 1;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s ease;
  }
  &:hover {
    .rt-category-img {
      &__thumbnail img{
        transform: scale(1.1);
      }
      &__body {
        bottom: 10px;
      }
    }
  }
}
