.rt-comment {
  margin-bottom: 20px;

  .logged-in-as a {
    color: var(--theme-font-color-tertiary);
  }
  .form-submit {
    margin-bottom: 0;
  }
}

.js .comment-input {
  display: none;
}

/*=================================================;
/* COMMENT FORM
/*================================================= */
.rt-comment-form {
  padding: 30px 15px;
  background: var(--theme-background-secondary);
  border-radius: var(--theme-border-radius);
  margin-bottom: 30px;
}

/*=================================================;
/* COMMENT LIST
/*================================================= */
.rt-comment-list {
  list-style: none;
  margin: 0;
  padding: 0;

  ul {
    margin-left: 20px;
    list-style: none;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
    position: relative;
  }

  &__avatar {
    width: 70px;
    height: 70px;
    margin-right: 15px;

    img {
      border-radius: 100%;
    }
  }

  &__body {
    flex: 1;
  }

  &__title {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: capitalize;
    position: relative;

    a {
      color: inherit;
    }
  }

  &__meta {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--theme-font-color-tertiary) y;
    font-size: 12px;
  }

  &__author {
    margin-top: 0;
    font-size: 11px;
    margin-bottom: 0;
    text-transform: capitalize;
    background: var(--theme-color-brand);
    color: #fff;
    padding: 3px 6px;
    display: inline-block;
    line-height: 1;
    border-radius: 100px;
  }

  &__content {
    padding: 20px 15px;
    border-radius: var(--theme-border-radius);
    background: var(--theme-background-secondary);
  }

  &__reply {
    position: absolute;
    bottom: 1px;
    right: 1px;
    padding: 5px 8px;
    color: var(--theme-font-color-secondary);
    background-color:  var(--theme-border-color);
    border: 1px solid var(--theme-border-color);
    margin-right: -1px;
    margin-bottom: -1px;
    border-radius: 0;
    border-top-left-radius: var(--theme-border-radius);
    border-bottom-right-radius: var(--theme-border-radius);
    font-size: 13px;
    line-height: 1;
    cursor: pointer;

    a {
      color: inherit;
    }

    i {
      margin-right: 5px;
    }

    &:hover {
      color: var(--theme-color-base);
      border-color: var(--theme-link-active);
      background-color: var(--theme-link-active);
    }
  }

  &__approved {
    margin: 0;
    position: absolute;
    bottom: 1px;
    left: 86px;
    padding: 5px 8px;
    color: var(--theme-color-base);
    background-color: $color-success;
    border-radius: var(--theme-border-radius);
    font-size: 13px;
    line-height: 1;
  }
  .comment-list-meta-date{
    .rt-icon{
      margin-bottom: -2px;
    }
  }
}
.bypostauthor .rt-comment-list__author {
  background: $color-info;
}
/*=================================================
*  COMMENT RESPONS
=================================================== */
.comment-respond {
  .comment_cancel-reply {
    float: right;
    font-size: 14px;
  }

  .comment-reply-title {
    margin-bottom: 0;
    height: 0;
    .comment_cancel-reply {
      margin-bottom: 15px;
    }
    &:after {
      clear: both;
      content: " ";
      display: table;
    }
    a {
      color: var(--theme-font-color-secondary);
      &:hover,
      &:focus {
        color: var(--theme-link-active);
      }
    }
  }
}

li{
  .comment-reply-title {
    height: auto !important;
  }
}