.rt-dark-mode-toggle {
  cursor: pointer;
  .dark-mode {
    display: none;
  }
  .light-mode {
    margin-bottom: -2px;
  }
  &.is-active {
    .light-mode {
      display: none;
    }
    .dark-mode {
      display: block;
    }
  }
}
