.rt-form {
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;

  &__label {
    display: block;
    color: var(--theme-font-color-primary);
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 1rem;
  }

  &__input {
    width: 100%;
    color: var(--theme-font-color-secondary);
    background: var(--theme-background-primary);
    border: 1px solid var(--theme-border-color);
    border-radius: var(--theme-border-radius);
    padding: 12px 15px;
    outline: none;
    vertical-align: middle;
    
    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px $color-info;
      border-color: $color-info;
    }
  }

  .error-notif{
    display: none;
    font-size: rem(11px);
    margin-top: 3px;
    color: $color-danger;
  }

  &.is-error{
    .rt-form__input{
      border-color: $color-danger;
      &:focus{
        box-shadow: 0 0 0 1px $color-danger;
      }
    }
    .error-notif{
      display: block;
    }
  }
}

/*=================================================
/*  FORM SELECT
/* ================================================ */
select.rt-form__input {
  width: 100%;
  appearance: none;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--theme-border-color) 50%
    ),
    linear-gradient(135deg, var(--theme-border-color) 50%, transparent 50%),
    linear-gradient(
      to right,
      var(--theme-border-color),
      var(--theme-border-color)
    );
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border: 1px solid var(--theme-border-color);
  color: var(--theme-font-color-secondary);
  background-color: var(--theme-background-primary);
  padding: 0 8px;
  height: 37px;
  border-radius: var(--theme-border-radius);
}

/*=================================================
*  SELECTION2
=================================================== */
$select2_height: 43px;

.select2-dropdown{
  background-color: var(--theme-background-primary);
}

.select2-container--default .select2-selection--single {
  color: var(--theme-font-color-secondary);
  border: 1px solid var(--theme-border-color) !important;
  border-radius: var(--theme-border-radius) !important;
  background-color: var(--theme-background-primary);
  margin: 0 !important;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: $select2_height !important;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: $select2_height !important;
  line-height: $select2_height !important;
  color: var(--theme-font-color-secondary);
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown {
  color: var(--theme-font-color-secondary);
  border: 1px solid var(--theme-border-color);
  background-color: var(--theme-background-primary);
}

// current select2 result
.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option[data-selected="true"] {
  background-color: var(--theme-background-secondary);
}

// active select2 result
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: var(--theme-link);
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: var(--theme-background-secondary);
}


/*=================================================;
/* FORM OVERLAY
/*================================================= */
$field-height-overlay: 53px;

.rt-form--overlay {
  .rt-form__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    transition: 0.2s linear;
    color: var(--theme-font-color-tertiary) !important;
    font-weight: 400 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .rt-form__input {
    color: transparent;
    height: $field-height-overlay;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 23px;
  }

  .rt-form__input::placeholder {
    color: transparent;
  }

  textarea.rt-form__input {
    min-height: 120px;
    height: auto;
  }

  select.rt-form__input {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) 23px, calc(100% - 15px) 23px;
  }
}

// Textarea
.rt-form--overlay{
  &.rt-form--textarea {
    .rt-form__label {
      top: 20px;
    }
  }
}

// Select
.rt-form--overlay{
  &.rt-form-select{
    .rt-form__input{
     padding-left: 6px;
    }
   }
}

// Select 2
.rt-form--overlay{
  &.rt-form--select2 label {
      top: 17px;
      left: 14px;
      font-size: 11px;
  }

  .select2-container .select2-selection--single,
  .select2-container--default .select2-selection--single .select2-selection__arrow,
  .select2-container--default .select2-selection--single .select2-selection__rendered {
      height: $field-height-overlay !important;
      line-height: 65px !important;
      font-size: 14px;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
      padding-left: 10px;
  }
}

// Active
.rt-form--overlay{
  &.is-active,
  &.is-error {
    .rt-form__label {
      font-size: 11px;
      line-height: 1.5;
      top: 14px;
      left: 14px;
      transform: none;
      z-index: 1;
    }
  
    .rt-form__input {
      color: var(--theme-font-color-secondary);
    }
  
    .rt-form__input::placeholder {
      color: var(--theme-font-color-tertiary) !important;
    }
  
    textarea {
      padding-top: 1.8em !important;
    }
  }
}