.rt-gotop {
  transition: 0.8s;
  transition: 0.3s;
  font-size: 14px;
  z-index: 95;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 37px;
  height: 37px;
  text-align: center;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.38);
  color: #e8e8e9;
  visibility: hidden;
  bottom: -40px;
  cursor: pointer;
  transition: 0.3s;
  @include media(sm){
    right: 15px;
    bottom: 15px;
  }
  .rt-icon {
    bottom: -10px;
  }
  &:hover, &:focus {
    color: #e8e8e9;
    background-color: var(--theme-color-brand);
  }
  &.is-active {
    bottom: 15px;
    visibility: visible;
  }
}
