.rt-header-block{
    margin-bottom: 30px;
    &__title{
        margin-bottom: 0;
        color: var(--theme-font-color-primary);
    }
    &__desc{
        margin-top: 10px;
        color: var(--theme-font-color-secondary);
    }
}