/* Docs - ol list single docs */
.rt-list-count {
  font-weight: 400;
  counter-reset: lis;
  li {
    counter-increment: lis;
    list-style: none;
    font-weight: 400;
    margin-bottom: 5px;
    text-indent: -46px;
    padding-left: 1em;
    line-height: 1.5em;
    margin-bottom: 20px;
    &:before {
      content: counter(lis);
      background-color: #007cba;
      margin-right: 17px;
      padding: 0 5px;
      color: #fff;
      border-radius: 100px;
      padding: 4px 10px;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
    }
  }
}

@for $i from 2 through 20 {
  .rt-list-count[start="#{$i}"] {
    counter-reset: lis $i - 1;
  }
}
