.rt-marketplace-list {
    display: flex;
    flex-flow: row wrap;
    &__item {
      transition: 0.3s;
      display: block;
      overflow: hidden;
      margin-right: 10px;
      margin-bottom: 10px;
      border: 1px solid var(--theme-border-color);
      border-radius: var(--theme-border-radius);
      &:hover {
        border-color: var(--theme-link-active);
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }