.rt-modal {
    display: none;
    position: fixed;
    z-index: 99999 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    &__overlay {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        background-color: var(--theme-color-overlay);
    }

    &__inner {
        transform: scaleX(1) scaleY(1);
        border-radius: var(--theme-border-radius);
        position: relative;
        overflow: hidden;
        width: 600px;
        margin: 100px auto;
        background-color: var(--theme-background-primary);
        backface-visibility: hidden;

        @include media(sm) {
            left: 0;
            width: auto;
            margin-top: 15px;
            transform: none;
            margin-right: 15px;
            margin-left: 15px;
        }
    }

    &__header {
        position: relative;
        background:  var(--theme-background-secondary);
        padding: 15px;
        border-bottom: 1px solid var(--theme-border-radius);
    }

    &__title {
        margin: 0;
    }

    &__desc {
        margin-bottom: 0;
    }

    &__body {
        padding: 15px;
        overflow: auto;
    }

    &__footer {
        border-top: 1px solid var(--theme-border-color);
        background: var(--theme-background-secondary);
        padding: 15px;
    }

    &__close {
        z-index: 1;
        position: absolute;
        font-size: 18px;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        color: var(--theme-font-color-secondary);
        right: 15px;

        &:hover, &:focus {
            color: var(--theme-font-color-primary);
        }
    }

    &__outer-close{
        z-index: 1;
        top: 30px;
        right: 30px;
        position: absolute;
        cursor: pointer;
        color: #fff;
        
        &:hover, &:focus {
            color: #fff;
        }
    }
}