.rt-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    .page-numbers {
        display: inline-block;
        min-width: 31px;
        height: 31px;
        text-align: center;
        line-height: 31px;
        font-size: 14px;
        border-radius: var(--theme-border-radius);
        border: 1px solid transparent;
        margin-right: 5px;
        background-color: var(--theme-background-primary);
        color: var(--theme-font-color-primary);
        border-color: var(--theme-border-color);
        padding-left: 10px;
        padding-right: 10px;

        &:first-child,
        &:last-child{
            padding: 0;
        }

        &.current,
        &:hover,
        &:focus {
            background-color: var(--theme-color-brand);
            color: var(--theme-color-base);
            border-color: var(--theme-color-brand);
        }
    }

    &__spinner {
        display: none;
        color: var(--theme-background-secondary);
    }

    &__button {
        display: block;
    }
    .rt-icon{
        margin-bottom: -1px;
    }
}

/*=================================================
*  LOADMORE
=================================================== */
.rt-pagination--loadmore {
    display: flex;
    justify-content: center;
}