/*=================================================;
/* POST ELEMENT - META
/*================================================= */
.rt-post-meta {
  font-size: 12px;
  --theme-link: var(--theme-font-color-tertiary);
  &__item {
    position: relative;
    margin-right: 15px;
    text-transform: capitalize;
    color: var(--theme-font-color-tertiary);
    &:after {
      position: absolute;
      margin-top: -3px;
      right: -9px;
      top: 50%;
      width: 5px;
      height: 5px;
      background: var(--theme-font-color-tertiary);
      content: "";
      border-radius: 50%;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__item a {
    &:hover,
    &:focus {
      color: var(--theme-link-active);
    }
  }

  .rt-icon {
    bottom: -3px;
  }
}

/*=================================================;
/* POST ELEMENT - BADGES
/*================================================= */
.rt-post-badges {
  a {
    color: var(--theme-color-base);
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    line-height: 1;
    padding: 7px 10px;
    background: var(--theme-color-brand);
    border-radius: var(--theme-border-radius);
    margin-right: 10px;
    margin-bottom: 10px;
    @include media(md) {
      font-size: 11px;
      margin-right: 5px;
      margin-bottom: 5px;
      padding: 5px;
    }
  }
}

/*=================================================;
/* POST ELEMENT - TAG
/*================================================= */
.rt-post-tag {
  display: inline-block;
  color: var(--theme-font-color-secondary);
  border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius);
  padding: 7px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1;
  &__label {
    top: -2px;
    display: inline-block;
    position: relative;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    border-color: var(--theme-link-active);
    color: var(--theme-link-active);
  }
  .rt-icon {
    display: inline-block;
    position: relative;
    bottom: -3px;
  }
}

/*=================================================;
/* POST - GRID STYLE
/*================================================= */
.rt-post--grid {
  position: relative;
  .rt-post {
    background: var(--theme-background-primary);
    &__thumbnail {
      margin-bottom: 20px;
      img {
        border-radius: var(--theme-border-radius-lg);
        width: 100%;
      }
    }
    &__title {
      font-size: 21px;
      margin-bottom: 10px;
      a {
        color: var(--theme-font-color-primary);
        &:hover,
        &:focus {
          color: var(--theme-link-active);
        }
      }
    }
    &__excerpt {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .rt-post-badges {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
  }
  .rt-post-meta {
    margin-bottom: 10px;
  }
}

/*=================================================;
/* POST - CARD STYLE
/*================================================= */
.rt-post--card {
  position: relative;
  background: var(--theme-background-primary);
  border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius-lg);

  .rt-post {
    &__thumbnail {
      margin-top: -1px;
      margin-left: -1px;
      margin-right: -1px;
      img {
        border-top-left-radius: var(--theme-border-radius-lg);
        border-top-right-radius: var(--theme-border-radius-lg);
        width: 100%;
      }
    }
    &__body {
      padding: 15px;
    }
    &__title {
      font-size: 21px;
      margin-bottom: 10px;
      a {
        color: var(--theme-font-color-primary);
        &:hover,
        &:focus {
          color: var(--theme-link-active);
        }
      }
    }
    &__excerpt {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .rt-post-badges {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
  }
  .rt-post-meta {
    margin-bottom: 10px;
  }
}

/*=================================================;
/* POST - OVERLAY
/*================================================= */
.rt-post--overlay {
  overflow: auto;
  position: relative;
  border-radius: var(--theme-border-radius-lg);
  .rt-post {
    &__thumbnail {
      img {
        border-radius: var(--theme-border-radius-lg);
        margin-bottom: 0;
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
        height: 250px;
        object-fit: cover;
        transition: 0.5s;
      }
    }
    &__body {
      --theme-font-color-primary: #fff;
      --theme-link: #fff;
      --theme-link-active: rgba(255, 255, 255, 0.9);
      --theme-font-color-secondary: rgba(255, 255, 255, 0.8);
      --theme-font-color-tertiary: rgba(255, 255, 255, 0.8);
      z-index: 2;
      padding: 30px;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      transition: 0.3s;

      @include media(sm) {
        padding: 20px;
      }
    }
    &__title {
      font-size: 21px;
      margin-bottom: 5px;
    }
    &__excerpt {
      font-size: 14px;
      color: var(--theme-font-color-secondary);
      margin-bottom: 5px;
    }
    &__overlay {
      background: linear-gradient(
        to bottom,
        rgba(50, 50, 50, 0) 0%,
        rgba(16, 15, 15, 0.91) 89%,
        rgba(16, 15, 15, 0.93) 93%
      );
      opacity: 0.93;
      z-index: 1;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: 0.3s;
    }
  }

  .rt-post-badges {
    z-index: 9;
    position: absolute;
    top: 30px;
    left: 30px;
    @include media(sm) {
      top: 20px;
      left: 20px;
    }
  }

  &:hover,
  &:focus {
    .rt-post {
      &__thumbnail {
        img {
          transform: scale(1.2);
        }
      }
      &__body {
        bottom: 10px;
      }
    }
  }
}

/*=================================================;
/* POST - LIST MEDIUM
/*================================================= */
.rt-post--list {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  @include media(sm) {
    margin-bottom: 20px;
  }
  .rt-post {
    &__thumbnail {
      margin-right: 30px;
      flex: 0 0 320px;
      max-width: 320px;
      margin-bottom: 0;
      @include media(md) {
        flex: 0 0 220px;
        max-width: 220px;
      }
      @include media(sm) {
        margin-right: 0;
        margin-bottom: 15px;
        flex: 0 0 100%;
        max-width: 100%;
      }

      img {
        border-radius: var(--theme-border-radius-lg);
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: 0.5s;
      }
    }
    &__body {
      flex: 1;
    }
    &__title {
      font-size: 21px;
      margin-bottom: 5px;
      a {
        color: var(--theme-font-color-primary);
        &:hover,
        &:focus {
          color: var(--theme-link-active);
        }
      }
    }
  }
  .rt-post-badges {
    z-index: 9;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .rt-post-meta {
    display: block;
    margin-bottom: 10px;
  }
}

/*=================================================;
/* POST - LIST SMALL
/*================================================= */
.rt-post--list-sm {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  .rt-post {
    &__thumbnail {
      margin-right: 15px;
      flex: 0 0 $img-thumbail-size;
      max-width: $img-thumbail-size;
      height: $img-thumbail-size;
      img {
        border-radius: var(--theme-border-radius-lg);
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
      }
    }
    &__body {
      flex: 1;
    }
    &__title {
      font-size: 14px;
      margin-bottom: 5px;
      a {
        color: var(--theme-font-color-primary);
        &:hover,
        &:focus {
          color: var(--theme-link-active);
        }
      }
    }
  }
}

/*=================================================;
/* POST - FEATURED GRID
/*================================================= */
.rt-post-featured-grid {
  display: grid;
  grid-template-areas: "grid1 grid1 grid2 grid3" "grid1 grid1 grid4 grid5";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 470px;

  @include media(lg) {
    grid-template-areas: "grid1 grid1" "grid2 grid3" "grid4 grid5";
    grid-template-columns: 1fr 1fr;
    height: 790px;
  }
  .rt-post {
    &__thumbnail {
      height: 100%;
      img {
        height: 100% !important;
      }
    }
    &__title {
      font-size: 16px;
      @include media(lg) {
        font-size: 14px;
      }
    }
    &:nth-child(1) {
      grid-area: grid1;
      .rt-post__title {
        font-size: 32px;
      }
    }
    &:nth-child(2) {
      grid-area: grid2;
    }
    &:nth-child(3) {
      grid-area: grid3;
    }
    &:nth-child(4) {
      grid-area: grid4;
    }
    &:nth-child(5) {
      grid-area: grid5;
    }
  }
}

/*=================================================;
/* POST - FEATURED SLIDER
/*================================================= */
.rt-post-featured-slider {
  .rt-post__thumbnail img {
    height: 490px;
    @include media(sm) {
      height: 350px;
    }
  }
  .rt-post__title {
    @include media-min(lg) {
      font-size: 37px;
    }
  }
}
