.rt-search-main {
  display: none;
  z-index: -1;
  background-color: var(--theme-background-primary);
  box-shadow: var(--theme-shadow-sticky);
  position: absolute;
  right: 0;
  left: 0;
  display: none;
  height: 80px;
  @include media(sm){
    height: 60px;
  }
  &__form {
    width: 100%;
    height: inherit;
    position: relative;
  }
  &__input {
    background-color: transparent;
    display: block;
    width: 100%;
    height: inherit;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 30px;
    @include media(sm){
      font-size: 16px;
    }
  }
  &__btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
  }
  &__close{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    display: flex;
    align-items: center;
  }
}
