.rt-search-form {
  position: relative;
  &__input {
    width: 100%;
    color: var(--theme-font-color-secondary);
    background: var(--theme-background-primary);
    border: 1px solid var(--theme-border-color);
    border-radius: var(--theme-border-radius);
    padding: 12px 15px;
    padding-right: 30px;
    outline: none;
    vertical-align: middle;
    appearance: none;
    font-size: 1rem;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px $color-info;
      border-color: $color-info;
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: inline-block;
    background-color: transparent;
    border: none;
    color: var(--theme-font-color-tertiary);
  }
}