.rt-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    @include media(sm) {
      grid-column-gap: 15px;
      grid-row-gap: 15px;
    }
  }
  
  .rt-product {
    overflow: hidden;
    border: 1px solid var(--theme-border-color);
    border-radius: var(--theme-border-radius);
    background-color: var(--theme-background-primary);
    transition: 0.3s;
    height: 100%;
    &__thumbnail {
      img {
        width: 100%;
        height: auto;
      }
    }
  
    &__body {
      padding: 15px;
    }
  
    &__title {
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 0px;
      a {
        color: var(--theme-font-color-primary);
        &:hover, &:focus {
          color: var(--theme-link-active);
        }
      }
    }
  }
  
  .rt-price {
    display: inline-block;
    del {
      color: var(--theme-font-color-tertiary);
    }
    del.regular-price {
      color: var(--theme-font-color-secondary);
      display: inline-block;
      margin-right: 5px;
    }
  }
  
  .rt-shop-categories {
    margin-bottom: 30px;
    
    a {
      transition: .3s;
      display: block;
      font-size: 14px;
      color: var(--theme-font-color-secondary);
      background-color: var(--theme-background-primary);
      transition: 0.3s;
      line-height: 1.5;
      font-weight: 500;
      padding: 5px 12px;
      border: 1px solid var(--theme-border-color);
      border-radius: 50px;
      &:hover, &:focus{
        background: var(--theme-color-brand);
        border-color: var(--theme-color-brand);
        color: var(--theme-color-base);
      }
    }
    .swiper-slide{
      width: auto;
    }
  }
