.rt-share {
  position: relative;
  &__label {
    color: var(--theme-font-color-secondary);
    font-size: 14px;
    .rt-icon {
      margin-bottom: -3px;
      margin-right: 5px;
    }
  }
  &__box {
    display: none;
    right: 0;
    position: absolute;
    background-color: var(--theme-background-primary);
    box-shadow: var(--theme-shadow-lg);
    border-radius: var(--theme-border-radius-lg);
    padding: 15px;
    z-index: 2;
    .rt-icon {
      margin-bottom: -3px;
    }
  }

  .rt-socmed {
    flex-flow: column wrap;
    &__item {
      margin-right: 0;
      &:last-child{
          margin-bottom: 0;
      }
    }
  }
}
