.rt-single-nav {
  background-color: var(--theme-background-secondary);
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
  border-radius: var(--theme-border-radius-lg);
  padding: 30px 15px;

  &__label {
    font-size: 12px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
  }

  &__thumbnail {
    flex: 0 0 $img-thumbail-size;
    max-width: $img-thumbail-size;
    height: $img-thumbail-size;
    margin-right: 15px;

    img {
      border-radius: var(--theme-border-radius-lg);
    }
  }

  &:hover,
  &:focus {
    color: var(--theme-link);
  }
}

.rt-single-nav-prev,
.rt-single-nav-next {
  display: flex;
  flex-flow: row nowrap;
  color: var(--theme-font-color-tertiary);
  align-items: top;
  flex: 1;
  @include media(sm) {
    flex: 100%;
  }
  .rt-single-nav__title {
    @include media(sm) {
      font-size: 14px;
    }
  }
  .rt-icon {
    bottom: -3px;
  }
}

@include media-min(sm) {
  .rt-single-nav-next {
    flex-flow: row-reverse nowrap;
    text-align: right;
    .rt-single-nav__thumbnail {
      margin-left: 15px;
      margin-right: 0;
    }
  }
}
