.rt-single {
  margin-bottom: 30px;
  .rt-post-badges,
  .rt-breadcrumbs {
    margin-bottom: 10px;
  }
  .rt-post-meta {
    margin-bottom: 20px;
  }
}

.rt-single-thumbnail {
  margin-bottom: 40px;
  border-radius: var(--theme-border-radius-lg);
}

.rt-single-content {
  margin-bottom: 30px;
}

.rt-post-related {
  margin-bottom: 40px;
}

.rt-single-content-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  .rt-post-meta {
    margin: 0;
    @include media(sm) {
      margin-bottom: 20px;
    }
  }
  .rt-share {
    z-index: 2;
  }
}

.rt-single-tag {
  margin-bottom: 30px;
}

.rt-share-bar {
  .rt-socmed__item {
    margin-bottom: 0;
  }
}

.rt-page-links {
  .post-page-numbers {
    display: inline-block;
    min-width: 31px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--theme-border-radius);
    border: 1px solid var(--theme-border-color);
    margin-right: 5px;
    background-color: var(--theme-background-primary);
    color: var(--theme-font-color-primary);
    &:first-child{
      margin-left: 10px;
    }
    &.current,
    &:hover,
    &:focus {
      background-color: var(--theme-color-brand);
      color: var(--theme-color-base);
      border-color: var(--theme-color-brand);
    }
  }
}
/*=================================================;
/* STYLE
/*================================================= */
.is-gutenberg {
  .rt-single-thumbnail {
    @include media-min(lg) {
      margin-left: -70px;
      margin-right: -70px;
      max-width: unset;
    }
  }
}
