.rt-author-box {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--theme-background-secondary);
  padding: 30px 15px;
  // border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius-lg);
  margin-bottom: 40px;
  &__body {
    flex: 1;
  }
  &__thumbnail {
    margin-right: 15px;
    flex: 0 0 $img-thumbail-size;
    max-width: $img-thumbail-size;
    height: $img-thumbail-size;
    img{
      border-radius: var(--theme-border-radius-lg);
    }
  }
  &__title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
    a {
      color: var(--theme-font-color-primary);
    }
  }
  &__position {
    color: var(--theme-font-color-tertiary);
    margin-bottom: 15px;
    font-size: 12px;
  }
  &__content {
    margin-bottom: 15px;
  }
}
