.rt-slidepanel {
  position: fixed;
  z-index: 99999999;
  right: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  height: 100%;

  &__overlay {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--theme-color-overlay);
  }

  &__inner {
    position: fixed;
    z-index: 999999999;
    top: 0;
    right: 0;
    bottom: 0;
    width: 370px;
    height: 100%;
    background-color: var(--theme-background-primary);
    display: none;

    @include media(sm) {
      width: calc(100% - 50px);
    }
  }

  &__header {
    position: relative;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    min-height: 60px;
    align-items: center;
    background-color: var(--theme-background-primary);
    border-bottom: 1px solid var(--theme-border-color);
  }

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
  }

  &__body {
    padding: 15px;
    height: calc(100% - 60px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__footer{
    padding: 15px;
  }

  &__close {
    color: var(--theme-font-color-secondary);
    position: absolute;
    right: 15px;
    text-transform: uppercase;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__close-outner {
    left: -32px;
    width: 32px;
    line-height: 32px;
    background-color: var(--theme-background-secondary);
    text-align: center;
    color: #222;
    position: absolute;
    top: 32px;
    color: var(--theme-font-color-primary);
    font-size: 12px;
  }
}

// left panel
.rt-slidepanel--left {
  .rt-slidepanel {
    &__inner {
      right: auto;
      left: 0;
    }

    &__close-outner {
      right: -32px;
      left: auto;
    }

    &__close {
      right: 15px;
      left: auto;
    }
  }
}

// bottom panel
.rt-slidepanel--bottom {
  .rt-slidepanel {
    &__inner {
      border-top-left-radius: var(--theme-border-radius);
      border-top-right-radius: var(--theme-border-radius);
      top: 70px;
      margin: 0 auto;
      width: auto;
      height: auto;
      left: 0;
      width: calc(var(--theme-container-lg) - 30px);
      @include media(md) {
        width: 100%;
      }
    }
  }
}

// top panel
.rt-slidepanel--top {
  .rt-slidepanel {
    &__inner {
      border-bottom-left-radius: var(--theme-border-radius);
      border-bottom-right-radius: var(--theme-border-radius);
      top: 0;
      bottom: auto !important;
      width: 570px;
      margin: 0 auto;
      height: auto;
      left: 0;
      @include media(md) {
        width: 100%;
      }
    }
  }
}

// close button
.rt-slidepanel__overlay {
  .rt-slidepanel__close {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: 0;
    right: 0;
    transform: none;
  }
}
.rt-slidepanel--right {
  .rt-slidepanel__overlay {
    .rt-slidepanel__close {
      right: auto;
      left: 0;
    }
  }
}
