.rt-socmed {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--theme-font-color-secondary);
    background-color: var(--theme-background-secondary);
    border: 1px solid var(--theme-border-color);
    border-radius: var(--theme-border-radius);
    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      @each $sosmed, $background in $sosmed {
        &.#{$sosmed} {
          color: var(--theme-color-base);
          border-color: darken($background, 9%);
          background-color: darken($background, 8%);
        }
      }
    }
  }
}

/*=================================================
  *  COLOR
  =================================================== */
.rt-socmed--brand {
  .rt-socmed__item {
    color: var(--theme-color-base);

    @each $sosmed, $background in $sosmed {
      &.#{$sosmed} {
        background-color: $background !important;
        border-color: darken($background, 3%) !important;
        &:hover,
        &:focus {
          background-color: lighten($background, 10%) !important;
          border-color: lighten($background, 10%) !important;
        }
      }
    }
  }
}

.rt-socmed--border {
  .rt-socmed__item {
    color: var(--theme-font-color-secondary) !important;
    background-color: transparent !important;
    border-color: var(--theme-border-color) !important;
    border-width: 1px;
    @each $sosmed, $background in $sosmed {
      &.#{$sosmed} {
        &:hover,
        &:focus {
          color: #fff !important;
          background-color: lighten($background, 10%) !important;
          border-color: lighten($background, 10%) !important;
        }
      }
    }
  }
}

/*=================================================
  *  SIMPLE
  =================================================== */
.rt-socmed--simple {
  margin-left: -7px;
  margin-right: -7px;

  .rt-socmed__item {
    background-color: transparent !important;
    border: 0;
    color: var(--theme-font-color-secondary);

    &:hover,
    &:focus {
      color: var(--theme-link-active);
      background-color: transparent;
      border-color: transparent;
    }
  }
}

/*=================================================
  *  SIZE
  =================================================== */
.rt-socmed--lg {
  .rt-socmed__item {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}
.rt-socmed--md {
  .rt-socmed__item {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 17px;
    height: 17px;
  }
}
.rt-socmed--sm {
  .rt-socmed__item {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 14px;
    height: 14px;
  }
}

/*=================================================
  * STYLE
  /*================================================= */
.rt-socmed--circle {
  .rt-socmed__item {
    border-radius: 50%;
  }
}
