.rt-swiper {
  .swiper-container {
    visibility: hidden;
    &.swiper-container-initialized {
      visibility: visible;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    transition: 0.3s;
    background-image: none !important;
    background-color: var(--theme-background-primary);
    box-shadow: var(--theme-shadow-md);
    display: inline-block;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-radius: 100px;

    &:before,
    &:after {
      font-size: 14px;
      color: var(--theme-font-color-primary);
    }

    &:hover,
    &:focus {
      background-color: var(--theme-color-brand);

      &:before,
      &:after {
        color: var(--theme-color-base);
      }
    }
  }

  .swiper-button-prev {
    left: 15px;

    &:after {
      margin-right: 2px;
    }
  }

  .swiper-button-next {
    right: 15px;

    &:after {
      margin-left: 2px;
    }
  }

  .swiper-button-disabled {
    display: none;
  }

  .swiper-pagination-fraction {
    font-size: 12px;
    color: var(--theme-font-color-primary);
    background-color: var(--theme-background-primary);
    border-radius: 8px;
    padding: 0 8px;
    left: auto;
    right: 10px;
    width: auto;
    box-shadow: var(--theme-shadow-sm);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--theme-color-brand);
  }
}

.rt-swiper--stretch {
  .swiper-wrapper {
    align-items: stretch;
  }
  .post-item{
    height: 100%;
  }
  .swiper-slide {
    height: auto !important;
  }
}

.rt-swiper--nonav {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.rt-swiper--pagination-outer {
  .swiper-wrapper {
    margin-bottom: 40px;
  }
}

.swiper-link {
  color: var(--theme-font-color-primary);
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;

  i {
    font-size: 18px;
    background-color: var(--theme-background-primary);
    box-shadow: var(--theme-shadow-sm);
    width: 45px;
    line-height: 45px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  &:hover,
  &:focus {
    i {
      background-color: var(--theme-link-active);
      color: var(--theme-color-base);
    }
  }
}

/*=================================================;
  /* Swiper with card shadow
  /*================================================= */
$swiper-spacer: $grid-side-spacing;

.rt-swiper--card {
  margin: -$swiper-spacer;

  .swiper-container {
    padding: $swiper-spacer;
    padding-bottom: $grid-spacing;
  }

  .swiper-button-prev {
    left: $swiper-spacer + 15;
  }

  .swiper-button-next {
    right: $swiper-spacer + 15;
  }
}
