// .rt-tab {
    
//     &__item {
//         display: none;
//         &.is-active {
//             display: block;
//         }
//     }
//     &__nav {
//         padding: 0;
//         margin: 0;
//         list-style: none;
//         display: flex;
//         flex-flow: row wrap;
//     }
//     &__body {
//         background-color: var(--theme-background-primary);
//         overflow: hidden;
//         padding: 15px;
//         border-radius: var(--theme-border-radius);
//         border-top-left-radius: 0;
//         border-top-right-radius: 0;
//         border: 1px solid var(--theme-border-color);
//     }
//     &__title {
//         border-left: 1px solid var(--theme-border-color);
//         border-top: 1px solid var(--theme-border-color);
//         background-color: var(--theme-background-secondary);
//         position: relative;
//         margin: 0;
//         padding: 10px 15px;
//         cursor: pointer;
//         display: block;
//         color: var(--theme-font-color-primary);
//         &:hover {
//             color: var(--theme-font-color-primary);
//         }
//         &:before {
//             position: absolute;
//             right: 0;
//             bottom: -5px;
//             left: 0;
//             visibility: hidden;
//             height: 5px;
//             content: "";
//             transition: 0s;
//             opacity: 0;
//             background-color: var(--theme-background-primary);
//         }
//         &:first-of-type{
//             border-top-left-radius: var(--theme-border-radius);
//         }
//         &:last-of-type{
//             border-right: 1px solid var(--theme-border-color);
//             border-top-right-radius: var(--theme-border-radius);
//         }
//         &.is-active {
//             background-color: var(--theme-background-primary);
//             &:before {
//                 bottom: -3px;
//                 display: block;
//                 visibility: visible;
//                 transition: 0.4s;
//                 opacity: 1;
//             }
//         }
//     }

// }