$menu-gap: 18px;

.rt-menu--horizontal {
  display: flex;
  height: inherit;
}

.rt-menu--horizontal .rt-menu__main {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  .rt-menu__list {
    display: flex;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      list-style: none;
      position: relative;
    }
  }
}

/*=================================================
*  ITEM
=================================================== */
.rt-menu--horizontal .rt-menu__item {
  position: relative;

  a {
    color: var(--theme-font-color-secondary);
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: $menu-gap;
    padding-right: $menu-gap;
    cursor: pointer;
    z-index: 1;
    position: relative;
    transition: 0.1s linear;

    &:before {
      position: absolute;
      z-index: -1;
      height: 3px;
      bottom: -1px;
      left: 50%;
      right: 50%;
      visibility: hidden;
      content: "";
      background-color: var(--theme-link-active);
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  &.is-active,
  &.current-menu-parent,
  &.current-menu-item,
  &.current_page_item {
    > a {
      color: var(--theme-link-active);

      &:before {
        visibility: visible;
        left: 0;
        right: 0;
      }
    }
    > .rt-menu__arrow i {
      color: var(--theme-link-active);
    }
  }

  &.menu-item-has-children {
    padding-right: 15px;
  }
}

/*=================================================
*  ARROW
=================================================== */
.rt-menu--horizontal .rt-menu__arrow {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  height: inherit;
  align-items: center;
  width: 30px;
  justify-content: center;
  transition: 0.5s linear;
  color: var(--theme-font-color-secondary);
  .rt-icon {
    transition: 0.3s;
    bottom: -2px;
  }
}

/*=================================================
*  SUBMENU
=================================================== */
.rt-menu--horizontal .rt-menu__submenu {
  display: none;
  z-index: 999;
  border-radius: var(--theme-border-radius);
  min-width: 200px;
  background-color: var(--theme-background-primary);
  position: absolute;
  flex-direction: column;
  box-shadow: var(--theme-shadow-md);
  padding-top: 8px !important;
  padding-bottom: 8px !important;

  .rt-menu__item {
    a {
      font-size: 13px;
      padding: 8px 20px !important;
      color: var(--theme-font-color-secondary);
      transition: 0.3s ease-in;
      white-space: nowrap;

      &:before {
        display: none;
      }
    }

    .rt-icon {
      color: var(--theme-font-color-secondary);
    }

    &.is-active {
      > a {
        color: var(--theme-link-active);
        margin-left: 7px;
      }
    }
    .rt-menu__arrow{
      transform: rotate(-90deg);
    }
  }

  // submenu level 2
  .rt-menu__submenu {
    top: 0;
    left: 100%;
  }
}

/*=================================================;
/* STYLE ITEM HOVER
/*================================================= */
.rt-menu--style-link {
  .rt-menu__item a {
    &::before {
      display: none;
    }
  }
}