.rt-menu--vertical {
    --theme-menu-height: 40px;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            position: relative;
        }
    }

    .rt-menu {

        &__item {
            a {
                color: var(--theme-font-color-secondary);
                position: relative;
                height: var(--theme-menu-height);
                line-height: var(--theme-menu-height);
                white-space: nowrap;
                padding-left: 15px;
                padding-right: 15px;
                cursor: pointer;
                border-bottom: 1px solid var(--theme-border-color);
                display: block;
            }
        }

        &__arrow {
            color: var(--theme-font-color-secondary);
            position: absolute;
            height: var(--theme-menu-height);
            width: var(--theme-menu-height);
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .rt-icon {
                color: inherit;
                transition: 0.5s linear;
                bottom: 0;
            }

            &.is-active {
                .rt-icon {
                    transform: rotate(180deg);
                }
            }
        }

        &__submenu {
            display: none;
            padding-left: 10px;
            border-bottom: 1px solid var(--theme-border-color);

            .rt-menu__item a {
                border: none;
            }
        }
    }
}